.body {
    background-size: cover;

}

.lead {
    font-weight: 400!important;
    color: black!important;
}

.intro-container {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}